@media (max-width: 991px) {
  .hide {
    display: none;
  }

  .ham {
    position: fixed;

    /* keep the hamburger button above everything */

    z-index: 100;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border: black solid 1px;
    background: none;
    cursor: pointer;
  }

  .flex-row {
    flex-direction: row;
    padding-top: 10px;
  }

  .xIcon {
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #191765;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;
    opacity: 1;
    background-image: url(images/shape\ mobile\ menu-2@2x.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: 50px;
  }

  .showMenu {
    transform: translateY(0);
  }

  li {
    padding: 1rem 0;
  }

  .menuLink {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }

  .menuLink:hover {
    text-decoration: underline;
  }

  body {
    margin: 0;
    background-color: #191765;
    width: 100%;
  }

  .content {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #191765;
    font-family: 'Roboto', sans-serif;
    background-image: url(images/Ellipse\ 18.png);
    background-repeat: no-repeat;
  }

  .live-button {
    width: 50px;
    height: 100px;
    color: #655bf3;
  }

  .d-flex {
    display: flex;
  }

  .flex-center {
    align-items: center;
    justify-content: center;
  }

  .flex-columns {
    flex-direction: column;
  }

  .x-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .x-title img {
    height: 15px;
    margin-top: 25px;
    margin-right: 50px;
  }

  .margin-right {
    margin-right: 15px;
  }

  .popup-mobile {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: #f5f5ff;
    font-family: 'Roboto', sans-serif;
  }

  .flex {
    display: flex;
  }

  .popup-language {
    border-right: 1px solid #555;
    width: 80px;
    height: 50px;
    text-align: center;
    color: #f5f5ff;
    font-weight: bold;
    font-size: 15px;
  }

  .popup-ruby {
    width: 120px;
    font-size: 14px;
  }

  .popup-html {
    border-left: 1px solid #555;
  }

  .button-popup {
    font-weight: bold;
    align-items: center;
    background-color: #655bf3;
    color: #fff;
    width: 100px;
    height: 50px;
    margin-top: 20px;
  }

  .title-popup {
    color: #fff;
    text-align: left;
  }

  .header {
    width: 100%;
  }

  .arrow img {
    margin-right: 10px;
    margin-top: 20px;
    float: left;
  }

  #menu img {
    margin-top: 1.5rem;
    margin-right: 30px;
  }

  .name {
    flex: 1;
    justify-content: initial;
    margin-left: 30px;
    margin-top: 25px;
    color: ivory;
    font-size: 20px;
    font-weight: bold;
  }

  .name a {
    text-decoration: none;
    color: #f5f5ff;
  }

  #headline-section {
    flex-direction: column;
    width: 400px;
    margin: auto;
  }

  .info {
    color: #9c9cb8;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #7d73fc;
  }

  .subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: white;
  }

  .gray {
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid gray;
  }

  #developer-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: url("images/Ellipse\ 19.png");
    background-repeat: no-repeat;
    background-position: right  top;
  }

  .language {
    list-style-type: none;
    color: #f5f5ff;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
  }

  form li + li {
    margin-top: 1em;
  }

  .language li {
    margin-bottom: 1rem;
  }

  .frameworks {
    list-style-type: none;
    color: #f5f5ff;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
  }

  .frameworks li {
    margin-bottom: 1rem;
  }

  .skills {
    list-style-type: none;
    color: #f5f5ff;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    align-self: flex-start;
  }

  .skills li {
    margin-bottom: 1rem;
  }

  .purple {
    color: #9490ff;
  }

  #social-media {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logos {
    list-style-type: none;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0%;
  }

  .logos li {
    float: left;
    margin-right: 20px;
  }

  .down {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    list-style-type: none;
    width: 100px;
    height: 70px;
  }

  .work {
    color: #b3bac5;
    float: left;
  }

  .arrow a {
    text-decoration: none;
  }

  .recent-work {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 20px;
    color: #9490ff;
    font-size: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
  }

  .multi-post {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-right: 30px;
    background-size: contain;
    background-size: 65% 80%;
  }

  #Multi-post-1 {
    background-image: url(images/Ellipse\ 19@2x.png);
    background-repeat: no-repeat;
    background-position: left top;
  }

  #Multi-post-2 {
    background-image: url(images/Ellipse\ 20.png);
    background-position: right top;
    background-size: 53% 70%;
  }

  #Multi-post-3 {
    background-image: url(images/Ellipse\ 21@2x.png);
    background-position: left top;
  }

  #Multi-post-4 {
    border-image: 0%;
    background-image: url(images/Ellipse\ 22@2x.png);
    background-position: right 14rem;
    background-size: 54% 39%;
  }

  .white-title {
    font-size: 30px;
    color: #f5f5ff;
    margin-bottom: 30px;
  }

  .experience {
    font-size: 25px;
    color: #dcdce8;
  }

  .projects {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  .project-language {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .css {
    border-right: 1px solid #555;
    width: 80px;
    height: 50px;
    text-align: center;
    color: #f5f5ff;
    font-weight: bold;
    font-size: 15px;
  }

  .html {
    border-right: 1px solid #555;
    width: 80px;
    height: 50px;
    text-align: center;
    color: #f5f5ff;
    font-weight: bold;
    font-size: 15px;
  }

  .bootstrap {
    width: 80px;
    height: 50px;
    text-align: center;
    color: #f5f5ff;
    font-weight: bold;
    font-size: 15px;
  }

  .ruby {
    border-left: 1px solid #555;
    width: 80px;
    height: 50px;
    text-align: center;
    color: #f5f5ff;
    font-weight: bold;
    font-size: 15px;
  }

  .button {
    margin-top: 30px;
    width: 95px;
    height: 60px;
    text-align: center;
    background-color: #7d73fc;
    border: #655bf3;
    color: white;
  }

  .last-button {
    margin-top: 30px;
    width: 95px;
    height: 60px;
    text-align: center;
    background-color: #7d73fc;
    border: #655bf3;
    color: white;
  }

  button:enabled {
    border: #5f55f7;
  }

  button:hover {
    border: #5f55f7;
  }

  button:disabled {
    border: #5f55f7;
    background-color: #2a2b33;
    color: #c8c8d4;
  }

  ul {
    list-style-type: none;
  }

  input,
  textarea {
    margin-top: 1em;
    font: 1em sans-serif;
    font-size: 20px;
    width: 400px;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 10px;
  }

  #email::placeholder {
    color: #191765;
  }

  textarea {
    height: 200px;
  }

  .form {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
  }

  .contact-us {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #9390ff;
  }

  .form p {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #f5f5ff;
    text-align: center;
  }

  .form ul {
    padding: 0%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0%;
  }

  .footer {
    margin: 0%;
    margin-top: 20px;
  }

  .line {
    border: 1px solid gray;
    color: gray;
  }

  .email {
    margin: 0%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    margin-left: 8px;
  }

  .last-line {
    margin-top: 25px;
    width: 140px;
    height: 5px;
    border-radius: 25px;
    margin-bottom: 8px;
    background: #0d151e;
    align-self: center;
  }
}
